@font-face{
    font-family: 'nesans';
    src: url(../utils/fonts/Nesans\ Semi\ Bold.ttf);
}
@font-face{
    font-family: 'breadley';
    src: url(../utils/fonts/BreadleySans-Regular.ttf);
}
@font-face{
    font-family: 'delius';
    src: url(../utils/fonts/Delius-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --red-wine: #731627;
    --pink-stick: #D9B1AD;
    --white: #F6F5EE;
    --dark-beige:#BF9775;
    --golden: #AF8738;
    --cream: #F0ECDE;
    --black-rose:#2B0D16;
    --light-red-wine: rgba(141,22,65,40%);
    --beby-pink: #FACCC7;
}
body{
    width: 100%;
    font-size: 16px;
}
nav{
    width: 100%;
    background-color: var(--red-wine);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0.5rem 0;
}
.line-nav{
    display: flex;
    align-items: flex-start;
    margin-top: 3px;
    width: 100%;
}
#chk-menu{
    display: none;
}
#chk-menu:checked ~ .items{
    display: block;
    display: flex;
    flex-direction: column;
}
.btn-menu{
    color: var(--beby-pink);
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 10px;
}
.btn-menu i{
    background-color: var(--pink-stick);
    color: var(--black-rose);
    padding: 5px 6px;
    border-radius: 10px;
    border: 1px solid var(--red-wine);
    box-shadow: 4px 4px 6px var(--black-rose);
}
.items{
    display: none;
}
.items a{
    text-decoration: none;
}
.item{
    color: var(--cream);
    font-family: 'delius';
    font-size: 20px;
    margin-top: 10px;
}
.item:hover{
    color: var(--red-wine);
    background-color: var(--beby-pink);
    text-shadow: 0.5px 0.5px 0.5px var(--red-wine);
}
#header-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
#header-container img{
    margin-top: 10px;
    width: 250px;
}
.header-title{
    color: var(--black-rose);
    text-align: center;
    text-shadow: 0.5px 0.5px 0.5px var(--black-rose);
    font-family: 'nesans';
    font-size: 22px;
}
.button-header{
    display: flex;
    justify-content: center;
}
.button-header button{
    background-color: var(--pink-stick);
    border: 0.5px solid var(--red-wine);
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 8px;
    padding: 8px;
    box-shadow: 4px 4px 6px var(--black-rose);
}
.shop{
    font-size: 20px;
    color: var(--black-rose);
}
.button-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons-container{
    display: flex;
    margin-top: 3%;
}
.button-search{
    display: flex;
    background-color: var(--pink-stick);
    border: 0.5px solid var(--red-wine);
    box-shadow: 4px 4px 6px var(--black-rose);
    border-radius: 30px;
    margin-top: 8px;
}
.button-search input{
    border: none;
    border-radius: 30px;
    background-color: var(--pink-stick);
    width: 150px;
    height: 30px;
}
.button-search i{
    padding: 8px 8px 0 0;
    color: var(--black-rose);
    font-size: 20px;
}
h2{
    font-family: 'breadley';
    color:var(--red-wine);
    font-size: 30px;
    text-align: center;
    margin: 20px;
}
h3{
    font-family: 'breadley';
    color: var(--black-rose);
    margin: 10px 0 20px 0;
}
p{
    font-family: 'breadley';
    text-align: justify;
}
#container-form, #container-contact{
    width: 80%;
    margin: auto;
}
#form{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
#form input{
    background-color: var(--pink-stick);
    border: 0.1px solid var(--red-wine);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}
#form input::placeholder{
    font-family: 'delius';
}
#form textarea{
    font-family: 'delius';
    background-color: var(--pink-stick);
    border: 0.1px solid var(--red-wine);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px 0 0 10px;
    color: rgba(00,00,00,50%);
}
.btn-send{
    display: flex;
    justify-content: flex-end;
}
.btn-send button{
    color: var(--white);
    background-color: var(--red-wine);
    border: 1px solid var(--red-wine);
    padding: 10px 30px;
    border-radius: 30px;
    font-family: 'delius';
    font-weight: bolder;
    box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.line{
    width: 100%;
    margin: 20px 0;
}
.line-vertical{
    display: none;
}
span{
    font-family: 'breadley';
    color: var(--red-wine);
    font-weight: bolder;
}
iframe{
    width: 100%;
    height: 183px;
    box-shadow: 4px 4px 8px var(--red-wine);
    margin: 20px 0;
}
footer{
    width: 100%;
    background-image: url(../utils/img/footerDulceTrigo.svg);
    background-size: cover;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}
footer p{
    margin-bottom: 3rem;
    font-size: 10px;
    text-align: center;
    font-family: 'delius';
}
footer i{
    margin: 0 1% 3% 1%;  
    font-size: 25px;
    color: var(--cream);
}
/*Resolucion tablet*/
@media screen and (min-width:768px){
    nav{
        flex-direction: row;
        padding-top:0;
    }
    .btn-menu{
        display: none;
    }
    .items{
        display: flex;
        justify-content: space-around;
    }
    .line-nav{
        margin-top: 4px;
    }
    #header-container{
        flex-direction: row;
        align-items: flex-start;
    }
    #header-container img{
        width: 285px;
    }
    .button-header{
        align-items: flex-end;
        flex-direction: column-reverse;
    }
    .buttons-container{
        display: flex;
        margin: 0 0 8% 0;
    }
    .header-title{
        font-size: 25px;
    }
    h2{
        font-size: 38px;
    }
    h3{
        font-size: 22px;
    }
    p{
        font-size: 20px;
    }
    iframe{
        height: 220px;
    }
    footer{
        margin-top: 30px;
    }
    footer p{
        margin-bottom: 3.5rem;
        font-size: 12px;
    }
    footer i{
        font-size: 30px;
        margin: 0 1% 2% 1%;  
    }
}
/*Resolucion medias*/
@media screen and (min-width:1024px){
    #header-container img{
        width: 320px;
    }
    .shop, .button-search i{
        font-size: 25px;
    }
    .header-title{
        font-size: 37px;
    }
    h2{
        font-size: 46px;
    }
    section{
        display: flex;
        width: 90%;
        margin: 50px auto;
    }
    h3{
        margin: 0 0 20px 0;
    }
    .line{
        display: none;
    }
    .line-vertical{
        display: flex;
        margin: 0 20px;
        height: 400px;
    }
    .btn-send{
        justify-content: center;
    }
    iframe{
        height: 280px;
        border-radius: 30px;
    }
    footer{
        height: 150px;
    }
    footer p{
        margin-bottom: 5rem;
        font-size: 14px;
    }
    footer i{
        font-size: 45px;
    }
}
/*Resolucion macro*/
@media screen and (min-width:1200px){
    #header-container img{
        width: 350px;
    }
    .shop, .button-search i{
        font-size: 30px;
    }
    .header-title{
        font-size: 45px;
    }
    .line-vertical{
        height: 450px;
    }
    footer p{
        font-size: 16px;
    }
}