@font-face{
    font-family: 'nesans';
    src: url(../fonts/NesansSemiBold.ttf);
    font-family: 'breadley';
    src: url(../fonts/BreadleySans-Regular.ttf);
    font-family: 'delius';
    src: url(../fonts/Delius-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --red-wine: #731627;
    --pink-stick: #D9B1AD;
    --white: #F6F5EE;
    --dark-beige:#BF9775;
    --golden: #AF8738;
    --cream: #F0ECDE;
    --black-rose:#2B0D16;
    --light-red-wine: rgba(141,22,65,40%);
    --beby-pink: #FACCC7;
}
body{
    font-size: 16px;
}
nav{
    background-color: var(--red-wine);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0.5rem;
    border: 2px solid var(--pink-stick);
}
#chk-menu{
    display: none;
}
#chk-menu:checked ~ .items{
    display: block;
    display: flex;
    flex-direction: column;
}
/*
.navbar_container{
    background-color: var(--red-wine);
    padding-top: 2px;
}
*/
.btn-menu{
    color: var(--beby-pink);
    font-size: 1.5rem;
    cursor: pointer;
    width: 100vw;
}
.btn-menu i{
    background-color: var(--pink-stick);
    color: var(--red-wine);
    padding: 7px;
    border-radius: 5px;
    border: 1px solid var(--black-rose);
    box-shadow: 2px 2px 1px 1px rgba(60, 6, 25, 0.9);
}
.items{
    display: none;
}

.item{
    color: var(--cream);
    font-family: 'delius';
    font-size: 20px;
}

.item:hover{
    color: var(--red-wine);
    background-color: var(--beby-pink);
    text-shadow: 0.5px 0.5px 0.5px var(--red-wine);
}


#header_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2% 8% 0;
}

.logo{
    font-size: 500px;
}

.header_title{
    color: var(--black-rose);
    text-align: center;
    text-shadow: 0.5px 0.5px 0.5px var(--black-rose);
    font-family: 'nesans';
}

.button-header{
    display: flex;
    justify-content: center;
    margin: 15px;
}

.button-header button{
    background-color: var(--pink-stick);
    border: 1px solid var(--pink-stick);
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 8px;
    padding: 8px;
    box-shadow: 2px 2px 2px var(--red-wine);
}

.shop{
    font-size: 20px;
    color: var(--black-rose);
}

.button-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons_container{
    display: flex;
    margin-top: 3%;
}

.button-search{
    display: flex;
    background-color: var(--pink-stick);
    box-shadow: 2px 2px 2px var(--red-wine);
    border-radius: 25px;
    margin-top: 8px;
}

.button-search input{
    border: none;
    border-radius: 30px;
    background-color: var(--pink-stick);
    width: 150px;
    height: 30px;
}

.button-search i{
    padding: 8px 8px 0 0;
    color: var(--black-rose);
    font-size: 20px;
}

/*
.navbar{
    border-bottom: 3px solid var(--red-wine);
    padding-bottom: 3px;
}*/
footer{
    background-image: url(../img/footerDulceTrigo.svg);
    background-size: cover;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}

footer p{
    font-size: 12px;
    margin-bottom: 3rem;
}

footer i{
  margin-bottom: 5%;  
  font-size: 30px;
  color: var(--cream);
}

@media screen and (min-width:768px){
    #header_container{
        display: flex;
        flex-direction: row;
        align-items: flex-start; 
    }

    .logo{
        width: 55%;
    }

    .header_title{
        width: 100%;
        margin: 5% 0%;
    }
    
    .button-header{
        display: flex;
        align-items: flex-end;
        flex-direction: column-reverse;
    }

    .buttons_container{
        display: flex;
        margin-bottom: 8%;
    }

    .button-search{
        margin-right: 5%;
    }

    footer p{
        font-size: 13.5px;
    }

    footer i{
        font-size: 40px;
        margin-bottom: 3%;
    }

    .box-footer {
        margin-top: -100px;
    }
}

@media screen and (min-width:1024px){
    .header_title{
        font-size: 28px;
    }
    footer p{
        font-size: 18px;
    }
    footer i{
        font-size: 60px;
    }
}

@media screen and (min-width:1200px){
    footer i{
        font-size: 50px;
        margin-bottom: 1%;
    }


}